/* 文本溢出省略号 开始 */
.text-ellipsis {overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.ellipsis {display: -webkit-box; -webkit-box-orient: vertical; white-space: normal;}
.ellipsis.has-1th-line {-webkit-line-clamp: 1;}
.ellipsis.has-2th-line {-webkit-line-clamp: 2;}
.ellipsis.has-3th-line {-webkit-line-clamp: 3;}
/* 文本溢出省略号 结束 */

/* 纯CSS实现0.5像素边框 开始 */
/* 0.5像素边框，默认形状为实线 */
/* 核心代码 开始 */
.thin-border-all,
.thin-border-top,
.thin-border-right,
.thin-border-bottom,
.thin-border-left,
.thin-border-row,
.thin-border-col {position: relative;}
.thin-border-all:before,
.thin-border-top:before,
.thin-border-right:before,
.thin-border-bottom:before,
.thin-border-left:before,
.thin-border-row:before,
.thin-border-row:after,
.thin-border-col:before,
.thin-border-col:after {content: ''; position: absolute; z-index: 1; -webkit-box-sizing: border-box; box-sizing: border-box; border: 0 solid $border-color-regular;}
.thin-border-all:before,
.thin-border-top:before,
.thin-border-left:before,
.thin-border-row:before,
.thin-border-col:before {top: 0; left: 0; -webkit-transform-origin: left top; transform-origin: left top;}
.thin-border-right:before,
.thin-border-col:after {top: 0; right: 0; -webkit-transform-origin: right top; transform-origin: right top;}
.thin-border-bottom:before,
.thin-border-row:after {bottom: 0; left: 0; -webkit-transform-origin: left bottom; transform-origin: left bottom;}
.thin-border-all:before {width:200%; height: 200%; -webkit-transform: scale(.5); transform: scale(.5);}
.thin-border-top:before,
.thin-border-bottom:before,
.thin-border-row:before,
.thin-border-row:after {width:100%; height: 0; -webkit-transform: scaleY(.5); transform: scaleY(.5);}
.thin-border-right:before,
.thin-border-left:before,
.thin-border-col:before,
.thin-border-col:after {width:0; height: 100%; -webkit-transform: scaleX(.5); transform: scaleX(.5);}
.thin-border-all:before {border-width: 1px;}
.thin-border-top:before,
.thin-border-row:before {border-top-width: 1px;}
.thin-border-right:before,
.thin-border-col:after {border-right-width: 1px;}
.thin-border-bottom:before,
.thin-border-row:after {border-bottom-width: 1px;}
.thin-border-left:before,
.thin-border-col:before {border-left-width: 1px;}
.thin-border-all .thin-border-content {position: relative; z-index: 1;}
/* 核心代码 结束 */

/* 虚线 开始 */
.dashed.thin-border-all:before,
.dashed.thin-border-top:before,
.dashed.thin-border-right:before,
.dashed.thin-border-bottom:before,
.dashed.thin-border-left:before,
.dashed.thin-border-row:before,
.dashed.thin-border-row:after,
.dashed.thin-border-col:before,
.dashed.thin-border-col:after {border-style: dashed;}
/* 虚线 结束 */
/* 纯CSS实现0.5像素边框 结束 */


.bg-color-light {
  background: $bg-color-light;
}

/* active背景色 开始 */
/*.bg-active-1th
  transition(background, .5s, linear)
.bg-active-1th:active {background-color: $color-placeholder;}*/
/* active背景色 结束 */


/* 文本 开始 */
/* 文本对齐方式 开始 */
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-justify {text-align: justify;}
/* 文本对齐方式 结束 */

/* 文本颜色 开始 */
.transparent
  color: $no-color
.color-primary
  color: $color-primary
.color-auxiliary
  color: $color-auxiliary
.color-regular-1
  color: $color-regular-1
.color-regular-2
  color: $color-regular-2
.color-regular-3
  color: $color-regular-3
.color-light
  color: $color-light
.color-disabled
  color: $color-disabled
.color-dark
  color: $color-dark
/* 文本颜色 结束 */

/* 文本大小 开始 */
.fs-18x
  font-size: .18rem
.fs-20x
  font-size: .20rem
.fs-22x
  font-size: .22rem
.fs-24x
  font-size: .24rem
.fs-26x
  font-size: .26rem
.fs-28x
  font-size: .28rem
.fs-30x
  font-size: .30rem
.fs-32x
  font-size: .32rem
.fs-34x
  font-size: .34rem
.fs-36x
  font-size: .36rem
.fs-38x
  font-size: .38rem
.fs-40x
  font-size: .40rem
.fs-42x
  font-size: .42rem
.fs-44x 
  font-size: .44rem
.fs-46x
  font-size: .46rem
.fs-48x
  font-size: .48rem
.fs-50x
  font-size: .50rem
.fs-58x
  font-size: .58rem
.fs-60x
  font-size: .60rem
/* 文本大小 结束 */
/* 文本 结束 */

/* 字体加粗  开始*/
.wt-300
  font-weight 300
.wt-400
  font-weight: 400
.wt-500
  font-weight: 500
.wt-600
  font-weight: 600
.wt-700
  font-weight: 700
/* 字体加粗 结束*/

/*边距 开始 */
.mt-2x
  margin-top .04rem
.mt-4x
  margin-top .08rem
.mt-5x
  margin-top .1rem
.mt-10x
  margin-top .2rem
.mt-15x
  margin-top .3rem
.mt-20x
  margin-top .4rem
.mb-5x
  margin-top .1rem
.mb-10x
  margin-top .2rem
.mb-15x
  margin-top .3rem
.mb-20x
  margin-top .4rem
/*边距 结束 */

/* 弹性盒子 开始 */
.flex-box
  display: flex

.flex-c
  display: flex
  flex-direction: column

.flex-r
  display: flex
  flex-direction: row

.flex-center
  display: flex
  justify-content: center
  align-items: center

.flex-space-between
  display: flex
  justify-content: space-between

.flex-space-around
  display: flex
  justify-content: space-around
/* 弹性盒子 结束 */
