/**
 * 变量
 */

/* 长度单位 */
$length-unit = .01rem

/* 颜色定义 开始 */
/* 主色 */
$color-primary = #0dd66c
$color-primary-dark-20 = darken($color-primary, 20%)
/* 辅助色 */
$color-auxiliary = #fb5454
$color-auxiliary-dark-20 = darken($color-auxiliary, 20%)
/* 成功颜色 */
$color-success = #67c23a
/* 警告颜色 */
$color-warning = #e6a23c
/* 危险颜色 */
$color-danger = #fb5454
/* 信息颜色 */
$color-info = #fefced
/* 禁用颜色 */
$color-disabled = #ccc
/* 浅色 */
$color-light = #fff
/* 深色 */
$color-dark = #000
/* 普通色 */
$color-regular-1 = #333
$color-regular-2 = #666
$color-regular-3 = #999
$color-regular-4 = #ccc
$color-regular-5 = #eee
/* 无色 */
$no-color = transparent
/* 颜色定义 结束 */

/* 背景颜色 开始 */
/* 背景普通色 */
$bg-color-regular = #edf0f5
/* 背景消息色 */
$bg-color-info = $color-info
$bg-color-light = $color-light
/* 背景颜色 结束 */

/* 标签 开始 */
/* 标签颜色 开始 */
$tag-color-primary = $color-light
$tag-color-auxiliary = $color-light
$tag-has-border-color-primary = #ff8d00
$tag-has-border-color-auxiliary = $color-auxiliary
/* 标签颜色 结束 */

/* 标签背景 开始 */
$tag-bg-color-primary = $color-primary
$tag-bg-color-auxiliary = $color-auxiliary
$tag-has-border-bg-color = $no-color
/* 标签背景 结束 */

/* 标签形状 开始 */
/* 圆角 */
$tag-rounded = .3em
/* 胶囊形状 */
$tag-capsule = 2em
/* 标签形状 结束 */
/* 标签 结束 */

/* 按钮 开始 */
/* 按钮颜色 开始 */
$button-color-primary = $color-light
$button-color-auxiliary = $color-light
$button-color-plain = $color-regular-1
$button-color-disabled = $color-light
/* 按钮颜色 结束 */

/* 按钮背景 开始 */
$button-bg-color-primary = $color-primary
$button-bg-active-color-primary = $color-primary-dark-20
$button-bg-color-auxiliary = $color-auxiliary
$button-bg-active-color-auxiliary = $color-auxiliary-dark-20
$button-bg-color-plain = $color-light
$button-bg-active-color-plain = $color-regular-5
$button-bg-color-disabled = $color-disabled
/* 按钮背景 结束 */

/* 按钮形状 开始 */
/* 圆角 */
$button-rounded = .3em
/* 胶囊形状 */
$button-capsule = 2em
/* 按钮形状 结束 */
/* 按钮 结束 */

/* 边框颜色 开始 */
$border-color-primary = $color-primary
$border-color-auxiliary = $color-auxiliary
$border-color-regular = #dcdcdc
$border-color-disabled = #ccc
/* 边框颜色 结束 */
